{
    "presets": [[
        "next/babel", {
            "styled-jsx": {}
        }
    ]],
    "plugins": [
        "import-static-files",
        "babel-plugin-root-import",
        [
            "inline-import",
            {
                "extensions": [".css"]
            }
        ]
    ]
}