/****** Hamburger ******/

.burger {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 140px;
  height: 140px;
}
.burger__overlay {
  content: '';
  display: block;
  position: absolute;
  background: orange;
  z-index: 502;
  bottom: 0;
  left: 0;
  width: 140px;
  height: 140px;
}
.burger__navigation {
  position: absolute;
  bottom: 0;
  z-index: 501;
  display: flex;
  transition: height 1s ease in;
  transition: top 1s ease-out;
  flex-direction: column;
  justify-content:space-around;

}
.burger__navigation--collapsed {
  height: 0;
  margin-bottom: -60px;
}
.burger__navigation--expanded {
  margin-bottom: 140px;
}
.burger-link {
  width: 100%;
  margin-bottom: 10px;
}
.burger-link__image {
  width: 140px;
  height: auto;
}
.burger-link__image img {
  width: 100%;
}