body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:global(.clear:after) {
    content: '';
    display: block;
    clear: both;
}
:global(.main) {
    margin-top: 38px;
}
:global(.wrap) {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
}

/* wp post styles */

:global(.alignleft) {
    float: left;
}
:global(.alignright) {
    float: right;
}
:global(.aligncenter) {
    display: block;
    margin-left: auto;
    margin-right: auto;
}