/****** Hamburger ******/

.burger {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.overlay {
  content: '';
  display: block;
  position: absolute;
  background: orange;
  z-index: 502;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.navigation {
  position: absolute;
  bottom: 0;
  z-index: 501;
  display: flex;
  transition: height 1s ease in;
  transition: top 1s ease-out;
  flex-direction: column;
  justify-content:space-around;

}
.navigationCollapsed {
  height: 0;
  margin-bottom: -110px;
}
.navigationExpanded {
  margin-bottom: 100px;
}
.link {
  width: 100%;
  margin-bottom: 10px;
}
.linkImage {
  width: 100px;
  height: auto;
}
.linkImage img {
  width: 100%;
}